plugins {
    id "nf-amazon"
}
process {
    executor = "awsbatch"
    queue = "launcher-test-spot-MM-Batch-JobQueue"
    maxRetries = 5
    memory = "20G"
}
process.containerOptions = "--env MMC_CHECKPOINT_DIAGNOSIS=true --env MMC_CHECKPOINT_IMAGE_SUBPATH=nextflow --env MMC_CHECKPOINT_INTERVAL=5m --env MMC_CHECKPOINT_MODE=true --env MMC_CHECKPOINT_IMAGE_PATH=/mmc-checkpoint"

aws {
    region = "us-west-2"
    client {
        maxConnections = 20
        connectionTimeout = 10000
        uploadStorageClass = "INTELLIGENT_TIERING"
        storageEncryption = "AES256"
    }
    batch {
        cliPath = "/nextflow_awscli/bin/aws"
        maxTransferAttempts = 3
        delayBetweenAttempts = "5 sec"
    }
}
