# Test environment
/test-env/
/test-deployment/

# Docker
.docker/
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.env
.env.local
.env.*.local

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/

# AWS
.aws/
aws.json
**/test_env/aws.config
**/test_env/job.json
**/test_env/*.json
**/test_env/*.config
**/test_env/*.sh
**/test_env/

# Vue.js specific
npm-debug.log*
yarn-debug.log*
yarn-error.log* 